<div class="d-flex justify-content-start align-items-center">
	<form 
		hx-post="/wp-json/woo-proxy/v1/add-to-cart"
		hx-trigger="submit">
		<input type="hidden" name="product_id" value="{$product_id}">
		<input type="hidden" name="quantity" value="1">
		<button type="submit" class="btn btn-primary">
			{$remove_from_cart_text}
		</button>
	</form>

	<p class="fw-bold mb-0 ms-3">
		{$cart_total}
	</p>
</div>